################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LAB03/FileContentIndex/3fa529bc-0f8c-41f9-83f7-9c2623088eb0.vsidx
/.vs/LAB03/FileContentIndex/31088bad-a95b-4940-8a9c-051b3fd40eab.vsidx
/.vs/LAB03/FileContentIndex/5f99e00b-7d69-4e6e-ab6b-d9fbc8172712.vsidx
/.vs/LAB03/FileContentIndex/825dd6d0-a14c-4967-a724-f6728d85752b.vsidx
/.vs/
/.vs/LAB03/v17

*.jpg
/bin/Debug/2/LAB03.exe
/bin/Debug/2/LAB03.exe.config
/bin/Debug/2/LAB03.pdb
/bin/Debug/1/LAB03.exe
/bin/Debug/1/LAB03.sln
/bin/Debug/3/LAB03.exe.config
/bin/Debug/3/LAB03.pdb
/bin/Debug/Server/LAB03.exe
/bin/Debug/Server/LAB03.exe.config
/bin/Debug/Server/LAB03.exe.config740
/bin/Debug/Server/LAB03.pdb
/bin/Debug/Server/LAB03.pdb237
/bin/Debug/Server/LAB03.sln
