################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LAB04/DesignTimeBuild/.dtbcache.v2
