################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAB05/.vs/LAB05/FileContentIndex/14202024-8ac1-4429-9aa1-59ea70a7ef48.vsidx
/LAB05/.vs/